body{
	
}

#container{
	margin: 0 auto;
	width: 640px;
}

.carousel{
	width:450px;
	height: 200px;
}
.carousel30{
	height: 300px;
}
.carousel .arrow,
.carousel30 .arrow{
	width:30px;
	height:30px;
	background-color:black;
	position:absolute;
	top: 40px;
}

.carousel .previous,
.carousel30 .previous{
	left:0;
}

.carousel .next,
.carousel30 .next{
	right:0;
}

.carousel .caption{
	background-color: black;	
	position: absolute;
	top:  80px;
	left: 0px;
	color: white;
}